### Apply a function

In [19]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))

df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [22]:
# Replace all NaN elements with 0s.

df.fillna(0)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [23]:
# We can also propagate non-null values forward or backward.

df.fillna(method="ffill")

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

In [24]:
# Replace all NaN elements in column ‘A’, ‘B’, ‘C’, and ‘D’, with 0, 1, 2, and 3 respectively.

values = {"A": 0, "B": 1, "C": 2, "D": 3}
df.fillna(value=values)

     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0

In [25]:
# Only replace the first NaN element.

df.fillna(value=values, limit=1)

     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  NaN  1.0
2  NaN  1.0  NaN  3.0
3  NaN  3.0  NaN  4.0

In [26]:
# When filling using a DataFrame, replacement happens along the same column names and same indices

df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
df.fillna(df2)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  NaN
3  0.0  3.0  0.0  4.0

### Filling missing values using Pandas:

In [8]:
df = pd.DataFrame([[4, 16]] * 3, columns=['X', 'Y'])
df

   X   Y
0  4  16
1  4  16
2  4  16

In [10]:
# Using a numpy universal function (in this case the same as np.sqrt(df)):

df.apply(np.sqrt)

     X    Y
0  2.0  4.0
1  2.0  4.0
2  2.0  4.0

In [11]:
# Using a reducing function on either axis

df.apply(np.sum, axis=0)

X    12
Y    48
dtype: int64

In [12]:
df.apply(np.sum, axis=1)

0    20
1    20
2    20
dtype: int64

In [13]:
# Returning a list-like will result in a Series

df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [14]:
# Passing result_type='expand' will expand list-like results to columns of a Dataframe

df.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2

In [16]:
# Returning a Series inside the function is similar to passing result_type='expand'. The resulting column names will be the Series index.

df.apply(lambda x: pd.Series([1, 2], index=['Goo', 'Maa']), axis=1)

   Goo  Maa
0    1    2
1    1    2
2    1    2

In [17]:
# Passing result_type='broadcast' will ensure the same shape result, whether list-like or scalar is returned by the function, and broadcast it along the axis. The resulting column names will be the originals.

df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')

   X  Y
0  1  2
1  1  2
2  1  2